[submodule "research/pulumi-core"]
	path = research/pulumi-core
	url = https://github.com/pulumi/pulumi.git
[submodule "research/pulumi-github"]
	path = research/pulumi-github
	url = https://github.com/pulumi/pulumi-github
